{% extends 'base.html' %}
{% block title %}PetStore{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <center><h1>RecipeManagement</h1></center>
        {% for x in allrecipe %}
        <div class="card" style="width: 18rem;">
          <img src="{{ x.image.url }}" class="card-img-top" alt="{{ x.name }}">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'signin' %}">{{ x.name }}</a></h5>
            <p class="card-text">{{ x.instructions }}</p>
            <a href="#" class="btn btn-primary" onclick="handleGoSomewhereClick()">Go somewhere</a>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
function handleGoSomewhereClick() {
    {% if user.is_authenticated %}
      
        window.location.href = '#'; 
    {% else %}
      
        alert('Please log in first');
        window.location.href = '{% url "signin" %}';
    {% endif %}
}
</script>

{% endblock %}
